 **/*.js linguist-detectable=false
 *.js linguist-detectable=false
 QuestForPierogi/* linguist-detectable=false
 QuestForPierogi/** linguist-detectable=false
 * linguist-detectable=false
 **/ linguist-detectable=false
 **/.* linguist-detectable=false