**/*.js -linguist-vendored
*.js -linguist-vendored
QuestForPierogi/* -linguist-vendored
QuestForPierogi/** -linguist-vendored

**/*.js linguist-vendored
*.js linguist-vendored
QuestForPierogi/* linguist-vendored
QuestForPierogi/** linguist-vendored